# Exclude All

**/*

# Unexclude common dirs

!*/
!.github/**/
!assets/**/*

# Unexclude project files

!Makefile
!src/*.[ch]
!tests/*.[ch]
!examples/*.[ch]
!assets/*.gif
!scripts/*.sh
!outputs/*.mp4
!training_data/*.png
!.github/workflows/**/*.yml

# Unexclude common files

!LICENSE
!README.md
!.gitignore
!.clang-format
!compile_commands.json

